/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


/* ---- BASIC REET ----- */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
}
  
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    color: #404040;
}

/* ---- END OF BASIC REET ----- */

/* ---- DEFINITIONS OF Classes  ----- */

.bold{
    font-weight: 700;
    font-size: 160%;
    text-transform: uppercase;
    color: black;
}

.semi_bold{
    font-weight: bold;
    font-size: 120%;
    text-transform: uppercase;
    padding-bottom: 1%;
}

.light_bold{
    font-weight: 400;
    font-size: 80%;
    text-transform: capitalize;
    padding-bottom: 1%;
}

.half_bold{
    font-weight: 300;
    font-size: 70%;
    padding-bottom: 1%;
}

.mycolor{
    color: #404040;
    text-decoration: none;
    display: inline;
}

/* ---- SECTION HEADER ----- */

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}


.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    height: 45%;
}

@media only screen and (max-width: 982px) {
    .row{ 
        -webkit-box-align: center; 
            -ms-flex-align: center; 
                align-items: center;
    }
}

@media only screen and (max-width: 570px) {
    .row{ 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
    }
}

.header .row .column_left{
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    color: #404040;
}


.header .row .column_left div:nth-of-type(1) {-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;}
.header .row .column_right div:nth-of-type(2)  {-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;}

    
.header .row .column_left .profile{
    background-color: #feca07;
    display: flex;
    vertical-align: middle;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 982px) {
    .header .row .column_left .profile{ 
        background: none;
    }
}

/*
@media screen and (max-width: 450px) {
    .header .row .column_left .profile{  
        flex: 20%;
        justify-content: center;
    }
}
*/
.column_left .profile .img-1{  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    border-radius: 50%;
    align-items: center;
    vertical-align: middle;
    border: 5px solid #404040;
    opacity: .8;
} 

@media only screen and (max-width: 570px) {
    .column_left .profile .img-1{ 
        width: 20%;
    }
}

/*
@media screen and (max-width: 450px) {
    .column_left .profile .img-1{  
        width: 10%;
        border: none;
    }
}
*/
.header .row .column_left .profile .img-1 {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.header .row .column_left .profile .img-1:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


/* ---  JOB DEFINITION  --- */

.column_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding-bottom: 2%;
}

/* Large devices (laptops/desktops, 983px and up) */
@media only screen and (min-width: 983px) {
    .header .row .column_right{
        vertical-align: middle;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.header .row .column_right{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 5%;
    padding-left: 5%;
    word-spacing: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 150%; 
}

@media only screen and (max-width: 982px) {
    .header .row .column_right h1{ 
        font-size: 130%;
        padding-top: 15%;
    }
}

@media only screen and (max-width: 700px) {
    .header .row .column_right h1{ 
        font-size: 90%;
        padding-top: 15%;
    }
}

@media only screen and (max-width: 600px) {
    .header .row .column_right h1{ 
        font-size: 80%;
        padding-top: 8%;
    }
}

@media screen and (max-width: 450px) {
    .header .row .column_right h1{
        display: flex;
        font-size: 65%;
    }
}

h1 .coloured{
    padding-right: 4%;
    font-weight: bold;
    color: #feca07;
}

.header .row .column_right h2{
    font-size: 140%;
    padding-left: 5%;
    color: #5f5f5f;
}

@media only screen and (max-width: 982px) {
    .header .row .column_right h2{ 
        font-size: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .header .row .column_right h2{ 
        font-size: 70%;
    }
}


@media screen and (max-width: 450px) {
    .header .row .column_right h2{
        display: flex;
        font-size: 50%;
    }
}

#short{
    border: 1.5px solid #feca07;
    margin-left: 8%;
    margin-top: 0.8%;
    margin-bottom: 1%;
    width: 20%;
    border-radius: 30%;
}
/*
@media screen and (max-width: 450px) {
    #short{
        display: flex;
        width: 80%;
        border: 1px solid #FBC02D;
    }
}
*/
/* ------ SECTION MAIN  ------- */

.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

@media only screen and (max-width: 982px) {
    .main{ 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: reverse; 
            -ms-flex-direction: column-reverse; 
                flex-direction: column-reverse;
        margin-top: 3%;
    }
}

.main .column_left{
    background-color: #feca07;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
}

@media only screen and (max-width: 982px) {
    .main .column_left{ 
        width: 100%;
    }
}

/*
@media screen and (max-width: 450px) {
    .main .column_left{
        width: auto;
}
*/
.main .column_right{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
}

@media screen and (max-width: 982px) {
    .main .column_right{ 
        width: 100%;
    }
}

/* ----  SEPARATIVE DIV DARK GREY ----- */
.column_left .subtitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: middle;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 110%;
    background-color: #404040;
    color: #feca07;
    text-transform: uppercase;
}

@media only screen and (max-width: 982px) {
    .column_left .subtitle{ 
        margin-top: 0;
        margin-bottom: 3%;
    }
}

@media only screen and (max-width: 600px) {
    .column_left .subtitle{
        font-size: 90%;
    }
}
/*
@media screen and (max-width: 450px) {
    .column_left .subtitle{
        font-size: 50%;
        display: flex;
        width: max-content;
        margin-top: 0;
}
*/
.left_img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.left_img img{
    font-size: 50%;
}

/*
@media screen and (max-width: 450px) {
    .left_img img{
        font-size: 3%;
        display: flex;
        justify-content: center;
} */
/*----- SECTION CONTACT  ------*/
.languages,
.hobbies{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact_details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media only screen and (max-width: 982px) {
    .contact_details{ 
        -webkit-box-orient: horizontal; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: row; 
                flex-direction: row;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 600px) {
    .contact_details{ 
        font-size: 80%;
    }
}

.contact_details .col{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media only screen and (max-width: 982px) {
    .contact_details .col{ 
        -webkit-box-flex: 50%; 
            -ms-flex: 50%; 
                flex: 50%;
    }
}

.elements{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    vertical-align: middle;
    margin-top: 1%;
    padding-top: 1%;
    padding-left: 8%;
    padding-bottom: 1.5%;
}

.elements .data{
    padding-left: 11%;
    width: 100%;
    font-size: 80%;
}

.elements .data a{
    text-decoration: none;
}

/*--  SECTION ABOUT ME  -------*/

#special{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 130%;
    text-align: justify;
    font-weight: 400;
    font-size: 80%;
}

@media only screen and (max-width: 982px) {
    #special{ 
        padding-bottom: 3%;
    }
}

@media only screen and (max-width: 600px) {
    #special{ 
        font-size: 80%;
    }
}

#special a{
    text-decoration: none;
}

/*------ LANGUAGES ------*/


.languages .left_img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 5%;
}

@media only screen and (max-width: 982px) {
    .languages .left_img{ 
        padding-top: 0;
        padding-bottom: 3%;
    }
}

/*------ HOBBIES ------*/

.left_i{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.resume_hobbies .info{
    margin-top: 6%;
}

.hobbies{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media only screen and (max-width: 982px) {
    .hobbies{ 
        margin-top: 0;
    }
}

#CMAS{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
    font-size: 80%;
    color: #404040;
}

#moz{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 80%;
    color: #404040;
}


/* ---- MAIN -----  RIGHT SIDE GENERAL ----- */

.main .column_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 68%;
        -ms-flex: 68%;
            flex: 68%;
}
/*
@media screen and (max-width: 450px) {
    .main .column_right{
        width: 30%;
    }
}*/

.main .column_right .education,
.main .column_right .skills,
.main .column_right .portfolio{
    width: 100%;
    margin-bottom: 2%;
}


/* ---- EDUCATION -----  RIGHT SIDE ----- */

.main .column_right .edu_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.main .column_right .bold{
    color: #2a2a2a;
    margin-bottom: 1%;
    font-size: 130%;
}

.main .column_right p .bold{
    -ms-flex-item-align: baseline;
        align-self: baseline;
}

.main .column_right .long{
    color:#feea9f;
    width: 85%;
    border: 1px solid #feca07;
    margin-left: 8%;
}

.education .bold .material-icons,
.skills .bold .material-icons,
.portfolio .bold .material-icons,
.recommandations .bold .material-icons{
    color:#fedc5c;
    padding-left: 7%;
    padding-right: 5%;
    font-size: 110%;
}

@media only screen and (max-width: 600px) {
    .main .column_right .bold {
        font-size: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 450px) {
    .main .column_right .bold {
        font-size: 70%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .column_right .education .edu_item .edu_item-1 .edu_left .material-icons{
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    .column_right .education .edu_item .edu_item-1 .edu_left .material-icons{
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .education .edu_item .edu_item-1 .edu_left{
        font-size: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .education .edu_item .edu_item-1 .edu_left{
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .column_right .education .edu_item .edu_item-1 .edu_right{
        font-size: 80%;
        padding-left: 10%;
    }
}

.education .edu_item{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.education .edu_item .edu_item-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5%;
}


.education .edu_item .edu_item-1:last-child{
    padding-bottom: 4%;
}

.education .edu_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 11%;
    margin-left: 7%;
}

.education div .date{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50%;
    font-size: 90%;
}

.education .edu_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20%;
}
.education .edu_right p{
    font-size: 80%;
    width: 100%;
}

.education .certifications{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.certif_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* NOTHING HAPPENS ..... 
@media screen and (max-width: 600px) {
    .education .edu_right .edu_item .edu_item-1 .certifications .certif_item .material-icons{
        font-size: 18px;
    }
} */

@media only screen and (max-width: 450px) {
    .certifications .certif_item .material-icons .spec{
        font-size: 15px;
    }
} 

.education .certifications .certif_item p{
    font-size: 80%;
    padding-left: 3%;
    width: 100%;
}

.spec{
    color: #fedc5c;
}

.education .material-icons .spec{
    font-family: 'Material Icons';
    display: inline-block;
    line-height: 1%;
    letter-spacing: normal;
    color: #fedc5c;
}

/* ---- COMPETENCES INFORMATIQUES -----  RIGHT SIDE ----- */

@media only screen and (max-width: 600px) {
    .column_right .skills .skill_item .skill_item-1 .skill_left{
        font-size: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .column_right .skills .skill_item .skill_item-1 .skill_right{
        font-size: 80%;
        padding-left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .skills .skill_item .skill_item-1 .skill_left .material-icons{
        font-size: 18px;
    }
}


@media only screen and (max-width: 450px) {
    .skills .skill_item .skill_item-1 .skill_left .material-icons{
        font-size: 15px;
    }
}

.skills .skill_item{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.skills .skill_item .skill_item-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 3%;
}

.skills .skill_item .skill_item-1:last-child{
    padding-bottom: 4%;
}

.skills .skill_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    margin-left: 7%;
}

.skills div .sk_verb{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    font-size: 80%;
}

.skills .skill_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 4%;
}

.skills .skill_right p{
    font-size: 70%;
    width: 100%;
}

@media only screen and (max-width: 450px) {
    .skills .skill_item .skill_item-1 .skill_right{
        font-size: 80%;
    }
}

/* ---------- PORTFOLIO ---------- */


.portfolio .mywork{
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 75%;
    height: 100%;
    padding-top: 3%;
}

@media only screen and (max-width: 450px) {
    .portfolio .mywork{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.portfolio .mywork img{
    width: 33%;
    height: 33%;
    -webkit-filter: grayscale(85%);
            filter: grayscale(85%);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 4px solid transparent;
}

@media only screen and (max-width: 450px) {
    .portfolio .mywork img{
        width: 75%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}

.portfolio .mywork img:hover{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    cursor: pointer;
    border: 4px solid #feca07;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/* ---------- RECOMMANDATIONS --------*/

.recommandations{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.recommand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 0;
}

@media only screen and (max-width: 982px) {
    .recommand{ 
        padding-top: 3%;
    }
}

@media only screen and (max-width: 600px) {
    .recommand{
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       font-size: 80%;
    }
}

.recommand > .recommand_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
}


.recommand > .recommand_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
}